@media only screen and (min-width: 480px) {
    .profile{
        width: 85%;
    }
}
@media only screen and (max-width: 480px) {
    .profile{
        width: 80%;
    }
}
@media only screen and (min-width: 768px) {
    .profile{
        width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    .profile{
        width: 70%;
    }
}
